.about-us {
  background-image: url('../../assets/hero-bg.webp');
  background-position: center center;
  background-size: cover;
  padding: 80px 60px;
  border-radius: 23px;
  min-height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us h6 {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 25px;
}

.about-us h4 {
  font-size: 3rem;
  text-transform: uppercase;
  /* margin-bottom: 25px; */
}

.about-us h4 em {
  font-style: normal;
  color: #ec6090;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x))
}

.col-lg-7 {
  width: 90%;
}

.about-us-wrapper {
  padding: 3rem 3rem;
  background: url('../../assets/stars-universe.gif');
}

.about-us-divider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.about-us-head {
  min-width: 50%;
}

.about-us-text{
  min-width:50%;
  font-size: var(--size-xl);
}

@media (max-width: 475px) {
  .about-us-divider {
    flex-direction: column;
    gap: 1rem;
  }

  .about-us h6 {
    font-size: var(--size-sm);
    color: #fff;
    font-weight: 400;
    margin-bottom: 25px;
  }

  .about-us h4 {
    font-size: var(--size-3xl);
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  .about-us-text{
    margin-top: 0.8rem;
    min-width:90%;
    font-size: var(--size-md);
  }

  .about-us {
    padding: 40px 30px;
    border-radius: var(--size-lg);
    min-height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}